{% extends 'base.html.twig' %}

{% block title %}client{% endblock %}

{% block body %}
    <br> <h2><b>Information du client</b></h2><br>
    {{ form_start(form) }}
    {{ form_row(form.nomComplet) }}
    {{ form_row(form.contact) }}
    {{ form_row(form.adresse) }}

    <input type="submit" value="INSERER" class="btn btn-primary btn-lg btn-block">
    {{ form_end(form) }}
{% endblock %}