{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <script>
        function imprimer(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

    </script>
    <style>
        .code
        {
            margin-top: 45px;
            width: 200px;
        }
        #ligne{
            float: right;
            position: relative;
            margin-top: -90px;
            border: #222222 solid 1px;
            width: 70%;
            height: 100%;
            border-radius: 2px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 10px;
        }
        #be{
            float: right;
            margin-top: -130px;
        }
    </style>
    <div class="container">
        <div class="col-4 code">
            {{ form_start(form) }}
            {{ form_row(form.produit) }}
            <input type="submit" value="Ajouter" class="btn btn-primary btn-lg btn-block">
            {{ form_end(form) }}
        </div>
            <button onClick="imprimer('ligne')" id="be" class="btn btn-secondary">Imprimer</button>
        <div id="ligne"   align="left">

            <div class="alert alert-dismissible alert-secondary" >
                <h1 align="center"> <strong>FACTURE</strong></h1>
            </div>

            <div class="row">

                <div class=" col-5" >
                    <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-body">

                            <p class="card-text"><br>
                                Réference:<br>
                                Date:

                                {{ commande.dateAchat |date("d/m/Y") }}<br>
                                Nom de client: {{ commande.client.nomComplet }}
                        </div>
                    </div>
                </div>

                <div class=" col-3" >
                </div>

                <div class=" col-4" >
                    <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">NL Technologie</h5>
                            <p class="card-text">ANJANAHARY<br>
                                101 ANTANANARIVO<br>
                                Tél:0343315976<br>
                                Page FB:NL Technologie</p>
                        </div>
                    </div>
                </div>
            </div>
    <hr>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr class="table-info">
                        <th>Quantité</th>
                        <th>Designation</th>
                        <th>Prix unitaire HT</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in line %}
                        <tr>
                            <td></td>
                            <td>{{ l.produit.categorie.nomCategorie }}</td>
                            <td> {{ commande.client.nomComplet }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
            </div>
             <div class="row">
                <hr>
                <table border="2">
                    <thead>
                    <tr>
                        <th>Total HT </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>T.V.A 0</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Total TTC</th>
                        <th></th>
                    </tr>
                    </thead>
                    </table>
            </div>
        </div>

   <div>
{% endblock %}