{% extends 'base.html.twig' %}

{% block title %}stock{% endblock %}

{% block body %}
<br>
    <h2>Référence de {{ produit.categorie.nomCategorie }}:
        {{ produit.codeBare }}</h2>
    <table>
        <tr>
            <td><b>Marque:</b></td>
            <td>{{ produit.marque }}</td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td>{{ produit.description |raw }}</td>
        </tr>
        <tr>
            <td><b>Prix:</b></td>
            <td>{{ produit.prix }}</td>
        </tr>
    </table>
    <br>
    <a href="javascript:history.back()" class="btn btn-warning">OK</a>
{% endblock %}